.control {
    margin: 1rem 0;
}

.control label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.control input,
.control select,
.control textarea {
    display: block;
    font: inherit;
    padding: 0.2rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
    outline: none;
    border-color: #230052;
}

.button {
    font-size: 1.2rem;
}

.sidebyside {
    display: flex;
    flex-direction: row;
    font: inherit;
    padding: 0.2rem;
    border-radius: 6px;
    border: 1px solid #ccc;    
}